Repository wp-cli/config-command, pull requests merged in 2018-12, with the labels that each got.

#78 ::log -> ::print_value for output of get cmd
  src/Config_Command.php
Labels: bug, command:config-get

#79 Add `--format` option for `config get` command
  features/config-get-field.feature
  src/Config_Command.php
Labels: command:config-get

#80 Use constant as default type when adding new keys
  features/config-set.feature
  src/Config_Command.php
Labels: command:config-set
